@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{ color: aliceblue; background-color:rgb(74, 78, 78) ; font-family: monospace; font-size: large; transition: 12s;}


.name{ font-family: Staatliches; font-size: 10vw; float: right; position: relative; top: 20vh; padding-right: 5vw;}

.logo{float: left; position: relative; top: 20vh; padding-left: 5vw;}
.nav{float: right; position: relative; top: 25vh; right: 10vh;}
.nav-items{float: right; padding-inline: 5vw; margin: 10px;}
.nav-items:hover{
    font-size: larger;
    transition-duration: 0.5s;
}
.loading{
animation-name: loaded;
animation-duration: 10s;
}

.quote{text-align: center; animation-name: raju; animation-duration: 2s;  position: relative;}




@keyframes loaded {
    0%{background-color: black;}
    10%{background-color: blue;}
    20%{background-color: green;}
    30%{background-color: red;}
    40%{background-color: yellow;}
    50%{background-color: orange;}
    60%{background-color: purple;}
    70%{background-color: gold;}
    80%{background-color: silver;}
    90%{background-color: cyan;}
100%{background-color: burlywood;}
}
@keyframes raju {
    0%{color: aliceblue; font-size: large; top: 0px;}
    50%{top: 500px; font-size: xx-small;}
    100%{color: brown; font-size: large;  top: 0px;}
}