<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Bharat Mishra</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="blogposts">
        <div class="blogimage"><img src="blogimage.jpg" alt=""/></div>
    <h1 class="blogtitle">BLOG TITLE</h1>
    <div class="blogdescription">Here is the blog description please read carefully. it is just a template</div>
<a href="/">Read More.</a>
</div>


<script src="script.js"></script>
</body>
</html>